
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lending Course Information System</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script>
function clicked(e)
{
    if(!confirm('delete?'))e.preventDefault();
}
</script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">

					 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" href="http://localhost:8081/">Course Maintenance application</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item">
							 <a class="nav-link" href="/course.html">Course <span class="sr-only">(current)</span></a>
						</li>
				
						
					</ul>

						<ul class="navbar-nav ml-md-auto">
							<form class="form-inline" method="post" action="/Course/search.html">
								<input name="search" class="form-control mr-sm-2" type="text"
									placeholder="Enter Keywords" />
								<button class="btn btn-primary my-2 my-sm-0" type="submit">
									Search for Courses</button>
							</form>
						</ul>
					</div>
				</nav>
				<div class="container" style="padding: 50px;">

					<h5>Course List </h5>  
					<p>total of row</p>
					<input name="authorLastName" type="text" class="form-control"
									style="outline:none; border:0px; background:white;"
									th:value="${total}" readonly/>
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								
								<th scope="col">Course Name</th>
								<th scope="col">Duration</th>
								<th scope="col">Semester</th>
								<th scope="col">Professor Name</th>
								<th scope="col">Fee</th>
								<th scope="col">Credit Hours</th>
								
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="course: ${courses}">
								<th scope="row"><a style="color: black;" href="#"
									th:href="@{/course.html(courseCode=${course.CourseCode})}"
									th:text="${course.CourseCode}"></a></th>
								<td th:text="${course.CourseName}"></td>
								<td th:text="${course.Duration}"></td>
								<td th:text="${course.Semester}"></td>
								<td th:text="${course.ProfessorName}"></td>
								<td th:text="${course.CourseFee}"></td>
								<td th:text="${course.CreditHours}"></td>
								<td><form
										th:action="@{/course.html/delete(courseCode=${course.CourseCode})}"
										method="post">
										<button class="btn btn-primary"
											th:value="${course.CourseCode}" onclick="clicked(event)">
											<i class="fa fa-trash"></i>
										</button>
									</form></td>
							</tr>

						</tbody>
					</table>
					<a href="/Course/create.html">Add a new Course</a>
				</div>
			</div>
</body>
</html>